orjson
rocksdict
pydantic
fastapi
faiss-cpu
sse-starlette
light-embed
uvicorn[standard]
aioredis
python-dotenv
anydocs @ git+https://github.com/bahamondex/anydocs.git
cbase64
python-multipart
openai
boto3